div {
    box-sizing: border-box;
    border: 1px solid black;
}

.calculator-container {
    width: 35%;
    height: 70vh;
    margin: auto;
    background-color: peru;
}

.screen-container {
    width: 100%;
    height: 20%;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.screen {
    width: 90%;
    height: 70%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.bottom-container {
    height: 80%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
}

.operations-container {
    width: 20%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.operations-container div {
    height: 20%;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    background-color: lightcyan;
    margin-left: 5px;
}

.numbers-container {
    width: 80%;
    height: 100%;
    background-color: papayawhip;
    display: flex;
    flex-wrap: wrap;
}

.numbers-container div {
    height: 20%;
    width: 30%;
    margin: 5px;
    text-align: center;
    padding-top: 20px;
    background-color: violet;
}

#clear {
    flex-grow: 2;
}
